name: Simple OWASP ZAP Scan

on: push
#  workflow_dispatch:

permissions:
  contents: read

jobs:
  zap:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: "http://testphp.vulnweb.com/login.php"
          allow_issue_writing: false
          fail_action: false           # keeps job green even if alerts found
