name: Simple OWASP ZAP Scan

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  zap:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run ZAP Baseline Scan
        id: zap
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: "http://testphp.vulnweb.com/login.php"
          allow_issue_writing: false
          cmd_options: "-a"

      - name: Upload ZAP reports folder
        uses: actions/upload-artifact@v4
        with:
          name: zap-scan
          path: |
            *.html
            *.xml
            *.json
